#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

}
/*
Buttons, links, primary elements:

#f7df40 #fae25a
#fce671 #fee987
#ffed9b #fff0af

Surface colors (backgrounds, cards etc)

#121212 #282828
#3f3f3f #575757
#717171 #8b8b8b
*/

main{
  margin: 0 auto;
  display: flex;
}

.navbar_top {
  top: 0;
  text-align: center;
  height: auto;
  display: inline;
  margin: auto;
  width: 1em;
  place-content: center;
}

.navbar_item {
  display: inline-block;
  list-style: none;
  align-items: center;
  margin: 1.5em;
  padding: 0.5em;
  width: auto;
  text-align: center;
  font-size: 1.5rem;
  background-color: #fff0af;
  color: #121212;
  border-radius: 0.5em;
}

.navbar_item:hover {
  background-color: #f7df40;
}

.navbar_logo {
  display: inline-block;
  width: 3em;
  height: 3em;
  filter: invert(80%) sepia(98%) saturate(364%) hue-rotate(343deg) brightness(96%) contrast(101%);
  transition-duration: 0.8s;
  transition-property: transform;
  overflow: hidden;
  /*
  https://stackoverflow.com/a/53336754
  https://codepen.io/sosuke/pen/Pjoqqp
  */
}

.navbar_logo:hover {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}

.logo{
  text-align: center;
  font-size: 2rem;
}

.logo_text{
  display: block;
}

.searchbox{
  color: #121212;
}

.game_result_list_element{
  list-style-type: none;
}

.game_result_title{
  font-weight: bold;
  color: #fff0af;
  background-color: #282828;
  border-radius: 0.5em;
  padding: 0.25em;
}

.game_result{
  display: flex;
  background-color: #282828;
  margin: 2em;
  padding: 0.5em;
  border-radius: 0.5em;
  font-size: 2em;
}

.game_result > * {
  font-size: 0.75em;
}

.game_result ul {
  list-style-type: none;
  padding-left: 0;
}

.game_result a:link {
  display: flex;
  font-size: 1em;
  text-decoration: none;
  color: #f7df40;
}

@media (prefers-color-scheme: dark){
  .game_result a {
    color: #f7df40;
  }

  .game_result a:visited {
    color: #f7df40;
  }

  .game_result_title{
    color: #fff0af;
  }

  .game_result a:link:hover{
    color: #121212;
  }

  a:link{
    color: #121212;
  }

  a:hover{
    color: #121212;
  }

  a:visited{
    color: #121212;
  }


  .game_result a:hover {
    color: #f7df40;
  }
}


@media (prefers-color-scheme: light){
  .game_result a {
    color: #F5CB5C;
  }
  .navbar_item:hover {
    background-color: #F5CB5C;
  }
  .game_result_title{
    color: #fff0af;
    background-color: #333533;
  }
  .navbar_item {
    background-color: #fff0af;
    color: #121212;
  }
  .inline_link{
    color: white;
  }

  .inline_link:visited{
    color: white;
  }

  a:link{
    color: #242423;
  }

  a:hover{
    color: #242423;
  }

  a:visited{
    color: #242423;
  }

  .game_result a:link{
    color: #242423;
  }

  .game_result a:hover {
    color: #f7df40;
  }


  .game_result{
    background-color: #CFDBD5;
  }
}


.game_result_main{
  display: block;
}

.game_result_tags{
  font-size: 0.5em;
  display: block;
  margin-left: 2em;
}

.game_result_tags ul{
  -ms-column-count: 4;
  -o-column-count: 4;
  -moz-column-count: 4;
  -khtml-column-count: 4;
  column-count: 4;
}

.result_explanation{
  display: flex;
  margin-top: 2em;
  font-size: 1.5em;
  text-align: center;
  width: auto;
}

.search_input{
  margin-right: 2em;
  margin-left: 2em;
}

.login{
  display:flex;
  flex-direction: column;
}

.login_textfield{
  float:left;
  clear:left;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

.search_input_text {
  display: inline-block;
  width: 6em;
  position: relative;
  top: -3em;
}

.search_label {
  display: inline-block;
  width: 6em;
  margin-right: 0.25em;
  padding-top: 3em;
}

.search_input_checkbox {
  display: inline-block;
  width: 6em;
  position: relative;
  top: -1em;
}

.game_result_tags > span {
  text-align: left;
  font-weight: bold;
}

.filters_span{
  display: inline-block;
  width: 6em;
  margin-right: 0.5em;
  font-size: 1.25em;
}

.inline_link{
  color: white;
  text-decoration: underline;
  font-weight: bold;
}

.inline_link:visited{
  color: white;
}

a:link{
  color: #121212;
}